body {
    font-family: 'Roboto', sans-serif;
    background-color: #eef2f3;
    margin: 0;
    padding: 0;
  }
  
  .app {
    max-width: 800px;
    margin: 30px auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .app:hover {
    transform: translateY(-5px);
  }
  
  h1 {
    text-align: center;
    color: #333333;
    font-size: 2.2em;
    margin-bottom: 20px;
  }
  
  .service-form {
    margin-bottom: 25px;
  }
  
  .service-form h2 {
    background-color: #03264e;
    color: #ffffff;
    padding: 15px;
    margin: 0 -25px 25px;
    border-radius: 12px 12px 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .service-form form {
    padding: 20px;
  }
  
  .service-form div {
    margin-bottom: 15px;
  }
  
  .service-form label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    color: #555555;
  }
  
  .service-form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #cccccc;
    transition: border-color 0.3s;
  }
  
  .service-form input:focus {
    border-color: #4a90e2;
    outline: none;
  }
  
  .service-form button {
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .service-form button[type="submit"] {
    background-color: rgb(217, 52, 52);
    color: #ffffff;
  }
  
  .service-form button[type="submit"]:hover {
    background-color: #03264e;
    transform: translateY(-2px);
  }
  
  .service-form button[type="button"] {
    background-color: #35b135;
    color: #ffffff;
  }
  
  .service-form button[type="button"]:hover {
    background-color: #4cae4c;
    transform: translateY(-2px);
  }
  
  .service-list h2 {
    background-color: #03264e;
    color: #ffffff;
    padding: 15px;
    margin: 0 -25px 25px;
    border-radius: 12px 12px 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .service-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ffffff;
  }
  
  .service-list th,
  .service-list td {
    padding: 12px;
    border: 1px solid #e6e6e6;
    text-align: left;
  }
  
  .service-list th {
    background-color: #f2f2f2;
    color: #333333;
    font-weight: bold;
  }
  
  .service-list td {
    color: #666666;
  }
  
  .service-list tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  .service-list button {
    padding: 8px 15px;
    background-color: #d9534f;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .service-list button:hover {
    background-color: #c9302c;
    transform: translateY(-2px);
  }
  